<!DOCTYPE html>
<html layout:decorator="admin/common/template" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>UPDATE CATEGORY</title>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script th:src="@{/admin/js/question-update.js}" type="text/javascript"></script>
    <style type="text/css">
        table tr th {
            text-align: left;
            width: 150px;
        }
    </style>
    <script>
        function delAns(id) {
            var value = '#ans' + id;
            $(value).remove();
        };
    </script>
</head>
<body>
<div class="container-fluid" layout:fragment="body">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">UPDATE QUESTION</h1>
    </div>
    <!-- Content Row -->
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <form style="margin-left: 30px; margin-right: 30px;" th:object="${questionDTO}">
                        <input type="hidden" id="idQuest" th:value="*{id}">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width: 150px">Content</span>
                            </div>
                            <input class="form-control" id="contentQuest" th:placeholder="*{content}"
                                   th:value="*{content}" type="text">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width: 150px">Level</span>
                            </div>
                            <select id="level" th:field="*{level}">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width: 150px">Point</span>
                            </div>
                            <input class="form-control" id="point" th:placeholder="*{point}" th:value="*{point}"
                                   type="text">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width: 150px">Category</span>
                            </div>
                            <select id="categoryParentId">
                                <option>--SELECT--</option>
                                <option selected
                                        th:utext="${categoryDTO.categoryParentName}" th:value="${categoryDTO.categoryParentId}"></option>
                                <option th:each="category : ${categoryDTOS}"
                                        th:utext="${category.name}"
                                        th:value="${category.id}"/>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width: 150px">Sub Category</span>
                            </div>
                            <select id="categoryId">
                                <option selected th:utext="${categoryDTO.name}" th:value="${categoryDTO.id}"></option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width: 150px">Type</span>
                            </div>
                            <select id="questionType">
                                <option>--SELECT--</option>
                                <option selected th:utext="*{questionTypeName}"
                                        th:value="*{questionTypeValue}"></option>
                                <option th:each="type : ${questionTypeDTOS}" th:text="${type.name}"
                                        th:value="${type.value}"></option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width: 150px">Correct Answer</span>
                            </div>
                            <table id="tableCorrect">
                                <tr th:each="answer : *{answerDTOS}" th:id="'ans'+${answer.id}"
                                    th:if="${answer.correct} == true" th:object="${answer}">
                                    <th></th>
                                    <td>
                                        <input class="answerCorrect form-control" th:value="${answer.content}"
                                               type="text"> &nbsp; <a href="#" th:onclick="|delAns(${answer.id})|">Remove</a>
                                    </td>
                                </tr>

                                <tr>
                                    <input id="correct" type="hidden" value="true">
                                    <th></th>
                                    <td>
                                        <input class="answerCorrect form-control" type="text">
                                        &nbsp;
                                        <a class="addCorrect" href="javascript:void(0);">Add</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="width: 150px">Incorrect Answer</span>
                            </div>
                            <table id="tableInCorrect">
                                <tr th:each="answer : *{answerDTOS}" th:id="'ans'+${answer.id}"
                                    th:if="${answer.correct} == false" th:object="${answer}">
                                    <th></th>
                                    <td>
                                        <input class="answerIncorrect form-control" th:value="${answer.content}"
                                               type="text"> &nbsp; <a href="#" th:onclick="|delAns(${answer.id})|"
                                    >Remove</a>
                                    </td>
                                </tr>
                                <tr>
                                    <input id="inCorrect" type="hidden" value="false">
                                    <th></th>
                                    <td>
                                        <input class="answerIncorrect form-control" type="text"> &nbsp;
                                        &nbsp;
                                        <a class="addInCorrect" href="javascript:void(0);">Add</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <button>Submit</button>
                    </form>
                    <div class="chart-area">
                    </div>
                </div>
            </div>
        </div>
        <!-- Pie Chart -->
    </div>
    <!-- Content Row -->
</div>
</body>
</html>