<!DOCTYPE html>
<html layout:decorator="member/common/template" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fresher</title>
</head>
<body>
<div class="transition-group" layout:fragment="body">
    <div class="section-content">
        <div>
            <div>
                <div class="container"><a href="#"><img
                        th:src="@{/member/images/banner_6.png}" class="mg-top-12 full-width"/></a>
                    <div class="mg-top-12"><p
                            class="text-uppercase font-roboto-b color-green font-size-18 no-margin">
                        <span>luyện bài tập lập trình</span></p>
                        <p class="font-size-14 no-margin">Lựa chọn lớp mà em muốn Luyện tập!</p></div>
                    <div class="row">
                        <div class="col-sm-8 custom-col">
                            <div class="mg-top-12"><a
                                    href="#">
                                <div class="grade-item font-size-14 mg-bottom-12 bg-white border-r-4">
                                    <img th:src="@{/member/images/cu_12.png}"/>
                                    <div class="info-grade"><p
                                            class="color-green font-size-18 font-roboto-b text-uppercase no-margin">
                                        Java</p>
                                        <div><p>Luyện b&agrave;i tập trắc nghiệm trực tuyến c&aacute;c m&ocirc;n
                                            To&aacute;n, L&yacute;, H&oacute;a, Sinh, Anh, Sử, Địa, GDCD
                                            theo hướng đ&aacute;nh gi&aacute; năng lực c&oacute; lời
                                            giải chi tiết v&agrave; phương ph&aacute;p.</p></div>
                                    </div>
                                    <div class="status-grade"><span
                                            class="btn-grade color-white font-roboto-b">14550<!-- --> BÀI TẬP</span>
                                    </div>
                                </div>
                            </a></div>
                            <div class="mg-top-12"><a
                                    href="#">
                                <div class="grade-item font-size-14 mg-bottom-12 bg-white border-r-4">
                                    <img th:src="@{/member/images/cu_11.png}"/>
                                    <div class="info-grade"><p
                                            class="color-green font-size-18 font-roboto-b text-uppercase no-margin">
                                        PHP</p>
                                        <div><p>L&agrave;m b&agrave;i tập trắc nghiệm theo mức độ tư duy
                                            c&aacute;c m&ocirc;n To&aacute;n, L&yacute;, H&oacute;a,
                                            Sinh, Anh, Sử, Địa c&oacute; ngay đ&aacute;p &aacute;n v&agrave;
                                            lời giải chi tiết sau khi l&agrave;m b&agrave;i c&ugrave;ng
                                            với lưu &yacute; khi giải.</p></div>
                                    </div>
                                    <div class="status-grade"><span
                                            class="btn-grade color-white font-roboto-b">8250<!-- --> BÀI TẬP</span>
                                    </div>
                                </div>
                            </a></div>
                            <div class="mg-top-12"><a
                                    href="#">
                                <div class="grade-item font-size-14 mg-bottom-12 bg-white border-r-4">
                                    <img th:src="@{/member/images/cu_10.png}"/>
                                    <div class="info-grade"><p
                                            class="color-green font-size-18 font-roboto-b text-uppercase no-margin">
                                        Go-lang</p>
                                        <div><p>Luyện b&agrave;i tập trắc nghiệm To&aacute;n, L&yacute;,
                                            H&oacute;a, Sinh, Anh, Sử, Địa b&aacute;m s&aacute;t với đổi
                                            mới của Bộ. Tất cả đều c&oacute; lời giải chi tiết v&agrave;
                                            phương ph&aacute;p giải th&uacute; vị.</p></div>
                                    </div>
                                    <div class="status-grade"><span
                                            class="btn-grade color-white font-roboto-b">7757<!-- --> BÀI TẬP</span>
                                    </div>
                                </div>
                            </a></div>
                            <div class="mg-top-12"><a
                                    href="#">
                                <div class="grade-item font-size-14 mg-bottom-12 bg-white border-r-4">
                                    <img th:src="@{/member/images/cu_9.png}"/>
                                    <div class="info-grade"><p
                                            class="color-green font-size-18 font-roboto-b text-uppercase no-margin">
                                        JavaScript</p>
                                        <div><p>L&agrave;m b&agrave;i tập trắc nghiệm c&oacute; phương
                                            ph&aacute;p v&agrave; lời giải c&aacute;c m&ocirc;n To&aacute;n,
                                            L&yacute;, H&oacute;a, Sinh, Anh, Sử, Địa chắc kiến thức lớp
                                            9, tự tin thi v&agrave;o 10.</p></div>
                                    </div>
                                    <div class="status-grade"><span
                                            class="btn-grade color-white font-roboto-b">6879<!-- --> BÀI TẬP</span>
                                    </div>
                                </div>
                            </a></div>
                        </div>
                        <div class="col-sm-4 custom-col">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>