<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:fragment="topbar" xmlns:th="http://www.thymeleaf.org">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:utext="${#request.userPrincipal.name}">Admin</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/logout}">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>

    </ul>

</nav>

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:fragment="leftbar" xmlns:th="http://www.thymeleaf.org">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/homepage">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Trac Nghiem</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        User
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" aria-expanded="true">
            <i class="fas fa-fw fa-cog"></i>
            <span>Phân quyền</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Quản lý người dùng</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="#">Thêm người dùng</a>
                <a class="collapse-item" th:href="@{/admin/usermanager/list}">Danh sách người dùng</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Question
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePageCategorys"
           aria-expanded="true" aria-controls="collapsePageCategorys">
            <i class="fas fa-fw fa-folder"></i>
            <span>Quản lý danh mục</span>
        </a>
        <div id="collapsePageCategorys" class="collapse" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Danh mục</h6>
                <a class="collapse-item" th:href="@{/admin/category/add}">Thêm danh mục</a>
                <a class="collapse-item" th:href="@{/admin/category}">Danh sách danh mục</a>
                <h6 class="collapse-header">Danh mục con</h6>
                <a class="collapse-item" th:href="@{/admin/category/sub/add}">Thêm danh mục con</a>
                <a class="collapse-item" th:href="@{/admin/category/sub}">Danh sách danh mục con</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePageQuestions"
           aria-expanded="true" aria-controls="collapsePageQuestions">
            <i class="fas fa-fw fa-folder"></i>
            <span>Quản lý câu hỏi</span>
        </a>
        <div id="collapsePageQuestions" class="collapse" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Câu hỏi</h6>
                <a class="collapse-item" th:href="@{/admin/question/add}">Thêm từng câu hỏi</a>
                <a class="collapse-item" th:href="@{/admin/question/import-file}">Import file câu hỏi</a>
                <a class="collapse-item" th:href="@{/admin/question}">Danh sách câu hỏi</a>
            </div>
        </div>
    </li>

    <div class="sidebar-heading">
        Test
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePageTests"
           aria-expanded="true" aria-controls="collapsePageTests">
            <i class="fas fa-fw fa-folder"></i>
            <span>Quản lý bài thi</span>
        </a>
        <div id="collapsePageTests" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!--<h6 class="collapse-header">Danh mục</h6>-->
                <a class="collapse-item" href="#">Thêm bài thi</a>
                <a class="collapse-item" th:href="@{/admin/test}">Danh sách bài thi</a>
            </div>
        </div>
    </li>

    <div class="sidebar-heading">
        Statistic
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePageStatistics"
           aria-expanded="true" aria-controls="collapsePageStatistics">
            <i class="fas fa-fw fa-folder"></i>
            <span>Thống kê</span>
        </a>
        <div id="collapsePageStatistics" class="collapse" aria-labelledby="headingPages"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!--<h6 class="collapse-header">Danh mục</h6>-->
                <a class="collapse-item" th:href="@{/statistic/tests}">Bài test </a>
                <a class="collapse-item" th:href="@{/statistic/users}">Users </a>
                <a class="collapse-item" th:href="@{/statistic/questions}">Câu hỏi </a>
                <a class="collapse-item" th:href="@{/statistic/test}">Thống kê bài test </a>
                <a class="collapse-item" th:href="@{/statistic/status}">Thống kê kết quả bài test</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>